.controls-panel {
    background: #1f1f2e;
    padding: 20px;
    margin: 20px 0;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
}

/* TITULOS */
.controls-panel h4 {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: .5px;
}

/* FILTROS Y ORDENAMIENTO */
.filter-section,
.sort-section {
    display: flex;
    flex-direction: column;
}

/* BOTONES */
.filter-buttons,
.sort-buttons {
    display: flex;
    gap: 10px;
}

.filter-buttons button,
.sort-buttons button {
    background: #2e2e42;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    transition: .2s ease;
    color: #e0e0e0;
}

.filter-buttons button:hover,
.sort-buttons button:hover {
    background: #3b3b54;
}

.active-btn {
    background: #6a5acd;
    color: #fff;
    font-weight: bold;
}

.search-box {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 60%;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background: #2e2e42;
    color: white;
    font-size: 16px;
    outline: none;
    transition: .2s;
}

.search-box input:focus {
    background: #3f3f5c;
}

.category-section select {
    padding: 10px;
    border-radius: 8px;
    background: #2e2e42;
    color: white;
    border: none;
}

.category-section select:hover {
    background: #3b3b54;
}

.game-cover {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
}

.reviews-page {
    padding: 20px;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-card {
    background: #1f1f2e;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
}

.review-card h3 {
    margin-bottom: 8px;
    color: #a88bff;
    font-size: 20px;
}

.like-button {
    background: #ff4f7b;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}
 
 